*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 1140px;
  margin: 0 auto;
  
}

.header-box{
  display: flex;
  justify-content: center;
}

.img{
  padding-top: 100px;
}
#input{
  width: 200px;
  height: 100px;
  background-color: green;
}
#increment-btn , #reset-btn{
  width: 100px;
  height: 100px;
  background-color: red;
}

